@font-face {
	font-family: 'manrope';
    src: url('../fonts/manrope/manrope.woff2') format('woff2'),
         url('../fonts/manrope/manrope.woff') format('woff'),
         url('../fonts/manrope/manrope.otf')  format('opentype');
    font-style: normal;
	font-display: swap;
}

html, body {
    margin: 0;
    background-color:black;
    color:white;
    font-family: "arial";
    scroll-behavior: smooth;
}

p {
    font-family: manrope;
}

li {
    list-style: none
}

h1 {
    margin: 0;
    padding: 0
}

.title, .title-welcome {
    font-size: 30px;
    margin-top: 20px;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

.main-header {
    overflow:hidden;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    color: #FFF;
    text-align: center;
}

#main-bg {
    position: relative;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100vh;
}

.main-header-center {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -60%);
        -ms-transform: translate(0, -60%);
            transform: translate(0, -60%);
}

#jerma-video {
    position: relative;
    -webkit-transform: translate(0, 12.5%);
        -ms-transform: translate(0, 12.5%);
            transform: translate(0, 12.5%);
    max-width: 100%;
    max-height: 100%;
}

.main-header-heading {
    color: #FFF;
    font-family: manrope;
    font-size: 50px;
	font: regular;
    letter-spacing: 0.05em;
}

.section {
    width: 100%;
    float: left;
    overflow: hidden;
}

.section-title {
    margin: 0 auto;
    max-width: 50%;
    text-align: center;
    color: #FFF;
    font-family: manrope;
	font-size: 30px;
    padding: 20px 0;
    padding-top: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    clear: both;
}

.projects {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-column {
    width: 50%;
    padding: 20px;
}

#youmu-left {
    clear: both;
    height: 399px;
    border-radius: 2px;
    margin: 12vh 0;
    padding-left: 10%;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
}

#youmu-right h1 {
    font-size: 40px;
    padding: 10px;
    text-align: left;
    padding-left: 0px;
    padding-right: 10%;
}

#youmu-right p, a {
    text-align: left;
    padding-left: 0px;
    padding-right: 35%;
}

#youmu-right a {
    color:#525252
}

#youmu-right a:hover {
    color:rgb(170, 170, 170)
}

#youmu-img {
    display: block;
    margin: auto;
    margin-right: auto;
    top: 50%;
    bottom: 0;
    border: 5px solid rgb(54 57 63);
    max-width:100%;
    max-height:100%;
}

.github {
    padding-left: 10px;
    padding-right: 10px;
    padding-top:60px;
    padding-bottom:60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social {
    padding-left: 10px;
    padding-right: 10px;
    padding-top:60px;
    padding-bottom:60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*"Code" for menu*/

.main-menu {
    display:flex;
    align-items: center;
    justify-content: left;
    font-family: manrope;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0;
    -webkit-transform: translate(0, 0%);
        -ms-transform: translate(0, 0%);
            transform: translate(0, 0%);
}

.main-menu p {
    font-family: manrope;
    font-size: 23px;
    text-decoration: none;
    padding: 20px 0px;
    margin: 0px 20px;
    color: #ffffff;
}

main-nenu p:before {
    content:"\a0";
    display:block;
    align-items: center;
    padding:2px 0;
    line-height:1px;
    border-right:1px dashed #031D44;
}

.main-menu a {
    font-family: manrope;
    font-size: 23px;
}

.a-menu {
    text-decoration: none;
    color: #ffffff;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 1;
}

.a-menu:hover {
    opacity: 1;
}

.a-menu::before {
    transition: 300ms;
    height: 4px;
    content: "";
    position: absolute;
    background-color: #ffffff;
}

.a-menu::before {
    width: 100%;
    bottom: 5px;
    opacity: 0;
}

.a-menu:hover::before {
    bottom: 10px;
    opacity: 1;
}

.main-menu-sep {
    border-left: 1px solid rgb(255, 255, 255);
    height: 50px;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

#jerma-menu::before {
    background: rgb(150, 250, 250);
    animation: rgbthing 1000ms 0ms infinite linear;
}

@keyframes rgbthing {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
