# don't serve .git

RedirectMatch 404 /\.git

# redirect to https if cloudflare bypassed

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI}

# headers

Header always append X-Frame-Options SAMEORIGIN
Header always set X-Content-Type-Options nosniff
Header set Referrer-Policy "strict-origin"
Header always set X-XSS-Protection "1;  mode=block"
#Header set Content-Security-Policy-Report-Only "default-src https: 'unsafe-inline';"
Header set Strict-Transport-Security "max-age=2592000; includeSubDomains"

# errors

ErrorDocument 400 https://3zachm.dev/error/?n=400
ErrorDocument 403 https://3zachm.dev/error/?n=403
ErrorDocument 404 https://3zachm.dev/error/?n=404
ErrorDocument 414 https://3zachm.dev/error/?n=414
ErrorDocument 500 https://3zachm.dev/error/?n=500
ErrorDocument 504 https://3zachm.dev/error/?n=504