body {
    background-color: #2e2e2e;
    color: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.emote-img {
    height: 56px;
}

.emote {
    display: inline-flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.emote-name {
    margin-left: 5px;
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: transparent;
}